configuration {
    disable-history: false;
    modi: "drun";
    matching: "normal";
    drun-display-format: "{name} [<small>({generic})</small>]";
}

/* element selected {
    border: 0 6px solid 0 0;
    border-color: @accent;
    border-radius: 6px 0 0 6px;
} */

element-text {
    padding: 2px 6px;
}

textbox-icon {
    str: "  ";
}

prompt {
    enabled: false;
}

/* vim: set ft=css: */
