configuration {
    disable-history: false;
    modi: "drun";
    matching: "normal";
    drun-display-format: "{name} [<small>({generic})</small>]";
}

element-text {
    padding: 2px 6px;
}

textbox-icon {
    str: "  ";
}

prompt {
    enabled: false;
}

/* vim: set ft=css: */
